{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>Dish Types</title>
{% endblock %}

{% block content %}
  <h1>
    Dish Types
  </h1>
  {% if user.is_superuser %}
  <a class="btn btn-primary" href="{% url 'restaurant:dish-type-create' %}">Add the dish type</a>
    <hr>
  {% endif %}
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        {% if user.is_superuser %}
        <th>Update</th>
        <th>Delete</th>
        {% endif %}

      </tr>
    {% for dish_type in dish_type_list %}
      <tr>
        <td>
          {{ dish_type.id }}
        </td>
        <td>
          <a class="list-item" href="{% url 'restaurant:dish-type-detail' pk=dish_type.id %}">{{ dish_type.name }}</a>
        </td>
        {% if user.is_superuser %}
        <td>
          <a class="update" href="{% url 'restaurant:dish-type-update' pk=dish_type.id %}">Update</a>
        </td>
        <td>
          <a class="delete" href="{% url 'restaurant:dish-type-delete' pk=dish_type.id %}">Delete</a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}

    </table>

  {% endif %}
  </form>
{% endblock %}